:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-left: 100px;
}
.part-logo {
  color: var(--accent-text-color);
  margin-top: 0;
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

ul {
  list-style: none;
}
/* nav */
.main-nav {
  display: flex;
  align-items: center;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 86px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* contacts */
.contacts {
  display: flex;
  margin-left: 100px;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .contacts-list {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts .contacts-list:hover,
.contacts .contacts-list:focus {
  color: var(--accent-text-color);
}
/* hero */
.hero {
  text-align: center;
}
.hero-title {
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* feauture */
.feauture-list {
  display: flex;
  margin-top: 94px;
}
.feauture-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feauture-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section */
.work {
margin-left: 30px;
}

.work-item {
  display: flex;
}
.work-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
}

.work-title {
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 50px;
}

/* team */
.team {
  background: #F5F4FA;
}
.team .team-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 188px;
}
.team .item {
  display: flex;
}

.team .team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.icon {
  display: flex;
  text-align: left;
}

.space {
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--primary-white-color);
  margin-left: 30px;
}
.space .sotial {
  margin-left: 35px;
}

/* clients */

.clients .item {
  display: flex;
  margin-top: 50px;
}

.clients .list {
  margin-left: 30px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 175px;

  text-align: center;
  padding-top: 25px;
}
.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 94px;
}

/* footer */
.footer {
  display: flex;
  margin-top: 94px;
  background: #2f303a;
  padding: 50px;
}
.footer .section {
  margin-left: auto;
}
.footer .contacts-list {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
}

.footer-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer .footer-button {
  display: flex;
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 46px;
  text-align: center;
  margin-right: 7px;
}


/* стилі portfolio.css */
.filter {
  color: var(--title-text-color);
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  padding: 6px;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}


.flex-element .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.flex-element .text {
  color: var(--primary-text-color);
  text-decoration: none;
}

.flex-element .preview {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 87;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.flex-element {
  width: 380px;
  background-color: var(--primary-white-color);
  margin-right: 15px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}
.flex-element .link {
  text-decoration: none;
}