:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
/* logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-top: 24px;
}
.part-logo {
  color: var(--accent-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}

ul {
  list-style: none;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 86px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
/* contacts */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts .contacts-list {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contacts .contacts-list:hover,
.contacts .contacts-list:focus {
  color: var(--accent-text-color);
}
/* hero */
.hero-title {
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-top: 230px;
}

/* feauture */
.feauture-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feauture-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section */
.work-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;
}

.work-title {
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* team */
.team {
  background: #F5F4FA;
}
.team .team-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 188px;
}
.team .team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

/* clients */
.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 188px;
}

/* footer */
.footer {
  background: #2f303a;
}

.footer .contacts-list {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
}

.footer-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 46px;
  text-align: center;
}

/* стилі portfolio.css */
.filter {
  color: var(--title-text-color);
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  padding: 6px;
}

.filter .button:hover,
.filter .button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.sitelist {
  text-decoration: none;
}

.sitelist .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.sitelist .text {
  color: var(--primary-text-color);
  text-decoration: none;
}

.sitelist .preview {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 87;
}
